<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Playlist Backup</title>
    </head>
</html>
<body>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <button class='button-export'>Export</button>
    <button>Import</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src='scripts/export.js'></script>
    <script src='scripts/import.js'></script>
</body>